<%= form_with(model: [ @city, @company, @city.companies.build.services.build ], local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :cost %><br>
    <%= form.text_area :cost %>
  </p>
  <p>
    <%= form.label :wminutes %><br>
    <%= form.text_area :wminutes %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>