<p>
  <strong>Service name:</strong>
  <tr>
      <td><%= service.title %></td>
    </tr>
</p>

<p>
  <strong>Cost:</strong>
  <%= service.cost %>
</p>
<p>
  <strong>Time:</strong>
  <%= service.wminutes %>
</p>

<p>
  <%= link_to 'Show Service', city_company_service_path(@city, @company, service) %>
</p>

<p>
  <%= link_to 'Remove Service', city_company_service_path(@city, @company, service),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
