<p>
  <strong>Service name:</strong>
  <tr>
      <td><%= @service.title %></td>
    </tr>
</p>

<p>
  <strong>Cost:</strong>
  <%= @service.cost %>
</p>
<p>
  <strong>Time:</strong>
  <%= @service.wminutes %>
</p>
<h2>Specialists list</h2>

<%= render @service.specialists %>  

<h2>Add a specialist:</h2>

<%= render 'specialists/form' %>

<%= link_to 'Edit', edit_city_company_service_path(@city, @company, @service) %> |
<%= link_to 'Back', city_company_path(@city, @company) %>