<p>
  <strong>Service name:</strong>
  <tr>
      <td><%= @specialist.title %></td>
    </tr>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @specialist.speciality %>
</p>

<p>
  <strong>Info:</strong>
  <%= @specialist.info %>
</p>
<h2>Appointments list</h2>

<%= render @specialist.appointments %>  

<%= link_to 'Edit', edit_city_company_service_specialist_path(@city, @company, @service, @specialist) %> |
<%= link_to 'Back', city_company_service_path(@city, @company, @service) %>