<%= form_with(model: [ @city, @city.companies.build ], local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :adress %><br>
    <%= form.text_area :adress %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
