<p>
  <strong>Company name:</strong>
  <tr>
      <td><%= @company.title %></td>
    </tr>
</p>

<p>
  <strong>Adress:</strong>
  <%= @company.adress %>
</p>

<h2>Services list</h2>

<%= render @company.services %>  

<h2>Add a service:</h2>

<%= render 'services/form' %>

<%= link_to 'Edit', edit_city_company_path(@city, @company) %> |
<%= link_to 'Back', city_path(@city) %>