<p>
  <strong>Title:</strong>
  <%= @city.title %>
</p>

<p>
  <strong>Code:</strong> 
  <%= @city.code %>
</p>

<h2>Companies list</h2>

<%= render @city.companies %>  

<h2>Add a company:</h2>

<%= render 'companies/form' %>

<%= link_to 'Back', cities_path %>
